<h1>Homepage!</h1>

<form action="/links/" method="POST" role="form">
	<legend>Enter a URL to shorten:</legend>

	<div class="form-group">
		<label for="">URL</label>
		<input type="text" class="form-control" id="" placeholder="Input field" name="q">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>