<div class="header">
	<div class="container">

		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h1 id="header-logo"><span>tmysplc</span></h1>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<form method="POST" action="/links/">
					<div>
						<input class="form-control" type="text" name="url" placeholder="Paste a link to shorten it" autocomplete="off" autocorrect="off" autocapitalize="off">
						<div>
							<button class="btn btn-primary" type="submit">Shorten</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

